* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1E2D3B;
    /* altezza viewport - altezza header - altezza tag selezione genere */
    min-height: calc(100vh - 80px - 65px);
    padding-bottom: 40px;
}

header {
    height: 80px;
}

.header-container {
    background-color: #454342;
    height: 100%;
}

.header-container img {
    height: 100%;
    line-height: 80px;
    padding: 20px;
}

.card {
    height: 350px;
    width: 200px;
    padding: 20px;
    background-color: #333e49;
    margin: 40px 20px 0 20px;
}

.card img {
    width: 100%;
}

.card h3 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 20px 0;
}

.card p {
    text-align: center;
    color: gray;
}

#card-genre {
    margin: 20px 0;
    font-size: 18px;
}

#card-genre option:nth-child(2) {
    background-color: red;
    color: white;
}

#card-genre option:nth-child(3) {
    background-color: green;
    color: white;
}

#card-genre option:nth-child(4) {
    background-color: black;
    color: white;
}

#card-genre option:nth-child(5) {
    background-color: blue;
    color: white;
}